			bindings = <
				&bt GRAVE &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12 &kp DEL
				&trans &trans &trans &trans &trans &trans &trans &kp INS &kp UP &kp PG_DN &kp PG_UP &trans &trans &rgb_ug RGB_TOG
				&kp CAPS    &trans &trans &trans &trans &trans &trans &kp LEFT &kp DOWN &kp RIGHT &kp HOME  &kp END   &bootloader
				&trans &trans &trans &trans &trans &trans &trans &trans &kp C_VOL_DN &kp C_VOL_UP &trans  &trans
				&bt BT_PRV &bt BT_NXT  &trans              &trans                            &trans   &trans   &reset &bt BT_CLR